<header class="clearfix sticky-top">
  <h4 id="brand" class="float-left text-lowercase brand">
    <i class="fa fa-bar-chart-o" aria-hidden="true"></i>
    <span class="d-none d-lg-inline-block">{{title}}</span>
  </h4>
  <!-- Navigation post login screen -->
  <nav id="secure-nav" class="float-right nav nav-pills" *ngIf="isLoggedIn()">
    <a href="#" class="nav-item nav-link" title="Workout" routerLink="/workout" routerLinkActive="active-link">
        <i id="workout" class="fa fa-calendar-check-o" aria-hidden="true"></i>
        <label for="workout" class="d-none d-lg-inline-block">Workout</label>
    </a>
    <a href="#" class="nav-item nav-link" title="Category" routerLink="/category" routerLinkActive="active-link">
        <i id="category" class="fa fa-pie-chart" aria-hidden="true"></i>
        <label for="category" class="d-none d-lg-inline-block">Category</label>
    </a>
    <a href="#" class="nav-item nav-link" title="Track" routerLink="/track" routerLinkActive="active-link">
        <i id="track" class="fa fa-line-chart" aria-hidden="true"></i>
        <label for="track" class="d-none d-lg-inline-block">Track</label>
    </a>
    <a href="#" class="nav-item nav-link" title="Logout" routerLink="/logout" routerLinkActive="active-link"
    (click)="logout()">
        <i id="signout" class="fa fa-sign-out" aria-hidden="true"></i>
        <label for="signout" class="d-none d-lg-inline-block">Logout</label>
    </a>
  </nav>
  <!-- Navigation for login screen -->
  <nav id="public-nav" class="float-right nav nav-pills" *ngIf="!isLoggedIn()">
    <a href="#" class="nav-item nav-link" title="Sign-in" routerLink="/signin" routerLinkActive="active-link">
      <i id="signin" class="fa fa-sign-in" aria-hidden="true"></i>
      <label for="signin" class="d-none d-lg-inline-block">Login</label>
    </a>
    <a href="#" class="nav-item nav-link" title="Sign-up" routerLink="/signup" routerLinkActive="active-link">
      <i id="signup" class="fa fa-user-plus" aria-hidden="true"></i>
      <label for="signup" class="d-none d-lg-inline-block">Signup</label>
    </a>
  </nav>
</header>

<section class="content">
  <router-outlet></router-outlet>
</section>
